--- pharo	2025-03-12 13:44:04.696134424 +0100
+++ pharo.new.template	2025-03-13 19:34:04.842327677 +0100
@@ -63,4 +63,4 @@
 /lib|/usr/lib)  SVMLLP=/lib:/usr/lib;;
 *)              SVMLLP="$PLATFORMLIBDIR:/lib:/usr$PLATFORMLIBDIR:/usr/lib"
 esac
-LD_LIBRARY_PATH="$PLUGINS:$SVMLLP:${LD_LIBRARY_PATH}" exec $GDB "$BIN/pharo" "$@"
+LD_LIBRARY_PATH="@libffi@/lib:@cairo@/lib:@freetype@/lib:@libgit2@/lib:@libpng@/lib:@libuuid@:@openssl@/lib:@pixman@/lib:@sdl2@/lib:@harfbuzz@/lib:@out@/lib:$PLUGINS:$SVMLLP:${LD_LIBRARY_PATH}" exec $GDB "$BIN/pharo" "$@"
